@model MVCWebApplication3.Models.Category

@{
    ViewData["Title"] = "ActivateCategory";
}

<h1>ActivateCategory</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ActivateCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
           
            <div class="form-group">
                <input type="submit" value="Click to Activate category" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetCategories">Back to List</a>
</div>

